* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Inter", Arial, sans-serif;
  background-color: #f9fafb;
  color: #111827;
  line-height: 1.5;
}

button {
  font-family: inherit;
}
a {
  text-decoration: none;
  cursor: pointer;
}
/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f6fbfb; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #1B2351; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #47C0D2; 
}

/* Firefox support */
* {
  scrollbar-width: thin;
  scrollbar-color: #1B2351 #f6fbfb;
}


/*xs: أقل من 600px

sm: من 600 إلى 900px

md: من 900 إلى 1200px

lg: من 1200 إلى 1536px

xl: أكبر من 1536px */