.footer{
    padding: 0px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    padding-bottom: 31px;
}
.lightVector {
  position: absolute;
  width: min(746px, 70vw);
  height: 2px;
   left: calc(50% - min(866px, 80vw) / 2);
  top: -40.28px;
  transform: translateX(-50%);
  background: linear-gradient(
    90deg,
    rgba(25, 0, 123, 0) 0%,
    rgba(25, 0, 123, 1) 50%,
    rgba(25, 0, 123, 0) 100%
  );
  border: none;
  z-index: 1;
}
.ourAppLinks{
      position: relative;
      margin-top: 24px;
       width: 100%;
      display: flex;
      gap: 24px;
      justify-content: center;
      align-items: center;
      margin-bottom: 32px;
}
 .linkBox{
    padding: 8px 29px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 8px;
 }
.footerContent{

    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    /* background-color: red; */
    width: 100%;
    min-height: 352px;
}
.footerContent .info{
    max-width: 330px;
}
.navs{
    display: flex;
    gap: 28px;
    justify-content: space-between;
    margin-left: 128px;
}
.navs .column a{
transition: all 0.2 ease;
}
.navs .column a:hover{
color: #47c0d2;
}
.social{
    display: flex;
    gap: 14px;

}
.column{
    display: flex;
    flex-direction: column;
    gap: 16px;

}
.circle{
    width: 39px;
    height: 39px;
    border-radius: 50%;
    align-content: center;
    text-align: center;
    cursor: pointer;
}