.container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 340px;
}

.label {
  width: 340px;
  height: 20px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  line-height: 100%; /* 13px */
  letter-spacing: 0;
  color: var(--Colors-main-Primary, #1B2351);
  opacity: 1;
}

.inputWrapper {
  position: relative;
  width: 340px;
}

.input {
  width: 100%;
  height: 52px;
  padding: 16px;
  padding-right: 40px; /* space for eye icon */
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
  color: #333;
  background: #FFFFFF;
  transition: all 0.2s ease;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.input:focus {
  outline: none;
  border-color: var(--Colors-main-Primary, #1B2351);
  box-shadow: 0px 4px 8px 0px rgba(27, 35, 81, 0.4);
}

.icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  pointer-events: none;
}

.error {
  border-color: #EF4444;
}

/* error message under input */
.errorMessage {
  width: 340px;
  height: 24px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
  line-height: 24px;
  letter-spacing: 0;
  color: #fff;
  background: var(--Colors-Text-Danger, #EF4444);
  border-radius: 4px;
  padding: 0 8px;
  margin-top: 4px;
  display: flex;
  align-items: center;
}
